*{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    color:rgb(23, 126, 205);
    font-size: 4rem;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 2%;
}
body{
    background-color: rgb(225, 225, 233);
}
.main-container{
    display: flex;
    align-items:center;
    gap: 5rem;

}
form{
    margin-left: 7%;
    font-size: large;
    color:rgb(23, 126, 205);
    width: 20%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    margin-left: auto;
    box-sizing: border-box;
    border: 1px solid #5a8ee7;
    border-radius: 4px;
    margin-bottom: 2rem;
}
#company-name{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #5a8ee7;
    border-radius: 4px;
    font-size:medium;
    margin-bottom: 2rem;
}
#priority{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #5a8ee7;
    border-radius: 4px;
    font-size:medium;
    margin-bottom: 2rem;
}
input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #5a8ee7;
    color: white ;
    background-color: #5a8ee7;
    border-radius: 4px;
    font-size:large;

}
p {
    margin-bottom: 0.5rem;
}

.task-box{
    width: 50rem;
    height: 12rem;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    
}
.left {
    width: 20%;
    display: flex;
    justify-content: center;
}

.circle-container {
    width: 4rem; 
    height: 4rem;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #ccc; 
    padding: 1rem;
    margin-left: 1rem;
    
  }
  
  .logo {
    width: 100%; 
    height: auto; 
    display: block; 
  } 
  .right{
    width: 80%;
}

.priority{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.priority_tag {
        background-color: #F05E8F;
        padding: 0.2rem 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        color: white;
        list-style: none;
}
.date{
        color: #a9abaa;
        text-align: center;
        list-style: none;
}

.taskname{
    margin-right: 75%;
    margin-top: 2%;
    color: #6D72B3;
    font-size: 27px;
    
}
.department{
    display: flex;
    margin-top: 1rem;
    font-size: 1rem;
}
.development {
        background-color: #DCDCDC;
        display: inline-block;
        padding: 0.4rem 0.4rem;
        border-radius: 0.4rem;
        font-size: 0.9rem;
        color: #6f8ac7;
    }
.management{
        background-color: #DCDCDC;
        display: inline-block;
        padding: 0.4rem 0.4rem;
        border-radius: 0.4rem;
        color: #6f8ac7;
        font-size: 0.9rem;
        margin-left: 0.6rem;
}

.detail {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem 0 0.3rem 0;
    list-style:none;
    font-size: 0.9rem;
    color:#808382;
    span{

        color:  #8186c9;
    }
    margin-top: 25px;
}


